@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<section class="basic-elements">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="content-header">فرم ثبت نام کاربر جدید</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title mb-0">اطلاعات خبر جدید را وارد نمایید</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">نام خبر</label>
                                            <input type="text" class="form-control" id="Title">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">توضیح مختصر</label>
                                            <textarea id="ShortDescription" cols="40" rows="3"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="helpInputTop">متن خبر</label>
                                            <textarea id="Text" cols="40" rows="3"></textarea>
                                        </fieldset>
                                    </div>
                                    @*<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">نمایش داده شود؟ </label>
                                            <input type="checkbox" class="form-control" id="DisPlayed">
                                        </fieldset>
                                    </div>*@
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicSelect">دسته بندی</label>
                                            <select class="form-control" asp-items="@ViewBag.categories" id="CatID">
                                            </select>
                                            <p><small class="text-muted">دسته بندی خبر را انتخاب کنید</small></p>

                                        </fieldset>
                                    </div>

                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">تصاویر </label>
                                            <input type="file" multiple class="form-control" accept="image/*" id="Images">
                                        </fieldset>
                                    </div>


                                    <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <br />
                                            <a id="btnAddNews" class="btn btn-success col-md-12">ثبت</a>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Script
{

    <script src="~/SweetAlert/sweetalert2.min.js"></script>
    <link href="~/SweetAlert/sweetalert2.min.css" rel="stylesheet" />
    <script>

        $('#btnAddNews').on('click', function () {

            var data = new FormData();

            //دریافت مقادیر از تکس باکس ها و....
            data.append("Title", $("#Title").val());
            data.append("ShortDescription", $("#ShortDescription").val());
            data.append("Text", $("#Text").val());
            //   data.append("Invertory", $("#").val());
         //   data.append("Displayed", $("#DisPlayed").attr("checked") ? true : false);
            data.append("CatID", $('#CatID').find('option:selected').val());
            //   data.append("Description", $("#Description").val());


            //دریافت عکس های انتخاب شده توسط کاربر و قرار دادن عکس ها در متغیر data
            var productImages = document.getElementById("Images");

            if (productImages.files.length > 0) {
                for (var i = 0; i < productImages.files.length; i++) {
                    data.append('Images-' + i, productImages.files[i]);
                }
            }


            // ارسال اطلاعات به کنترلر
            var ajaxRequest = $.ajax({
                type: "POST",
                url: "/admin/news/add",
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {

                    if (data.isSuccess == true) {

                        swal.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            window.location.href = "/Admin/news/";

                        });
                    }
                    else {

                        swal.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }

            });

            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
        });
    </script>
}
